
body {
	background-image:url(bg.jpg);
	background-repeat:reapeat;
	padding:0px;
	margin:0px;
	alignment-adjust:
}

p, span {
  font-family: museo-slab,Caecilia Lt Std,Georgia,Times,serif;
  line-height:1.6;
  color:white;
  font-size:12px;
  margin-top:10px;
  
}

a, a:hover, a:visited {
  font-family: museo-slab,Caecilia Lt Std,Georgia,Times,serif;
  text-decoration:none;
  font-weight:bold;
  color:#962915;
}

a:hover {text-decoration:underline;}

.icon {
	float:left;width:88px;padding-right:20px;
}


.install {
	width:200px;margin-top: 26px;height: 27px;padding-top:10px; margin-bottom:75px;background-color:#982d1a;
	border:1px solid #A34634;
}

.description {
	float:right;
	width:280px;
	font-size:11px;
	color:#FFC9C2;
}

.howTo {
	float:right;
	text-align:left;
	padding-bottom:40px;
	vertical-align:middle;
	width:391px;
}

.howTo a {
	color:#B46657;
}

.header {
  margin-top:0px;
  font-family: lobster,serif;
  font-size:20px;
} 

.steps {
	font-size:11px;
	margin-top:5px;
}

.subheader {
	width:550px; 
	padding: 10px 20px 0px 20px;
}


.options p {
	color:#900;
}

.find{ 
	font-size:14px;
	color:grey;
	font-weight:bold;
	padding-top:30px;
	margin-bottom: 10px;
}

.update {
	color:#ae5847;
	font-size: 16px;
	padding-top: 20px;
}

.charityList {
	font-size:12px;
	color:grey;
}

.notListed {
	color:grey;
	font-size:10px;
	font-style:italic;
}

.image {
	float:left;padding-top: 15px;width: 500px;text-align: right;position: relative;
}

.content {
	float:right; width: 440px;padding-right: 20px;
}

.centerDiv {
	 margin-right: auto; margin-left: auto;
}

.stripes {
	background-image:url(popup/bg_stripe.jpg);
	background-repeat:repeat;
}

a.greyLink {
	color:grey;
}


.footerKey {
	float:left;
	margin-right: auto; margin-left: auto;
	padding: 0px 15px;
}

a:footerKey {
	font-weight:normal;
}

.key {
	font-size:16px;
	font-style:italic;
	color:white;
	padding:0px;
	margin:0px;
}

.subKey {
	font-size:10px;
	color:#ae5847;
	padding:0px;
	margin:-5px 0px 0px 0px;
}

input {
	font-family: Arial, Sans-Serif;
    font-size: 13px;
    border:1px solid #DEDEDE;
    width: 170px;
	padding: 10px;
	margin: 0px;
	text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
-ms-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;}


button {
	    border: solid 1px #ae5847;

}

.charityList p {
	margin:0px;
	padding:0px;
}

.new-charity span {
	color:grey;
}

.charity-tag a {
	font-weight:normal;
}

.footerKey a {
	font-weight:normal;
}

.button {
	margin-top:-1px;
	height:37px;
	background-color: #AE5847;
color: white;
font-family: arial;
}

.form {
	
	

}
